<div class="btn-group btn-wrapper" role="group" aria-label="btn wrapper">
    <a href="{% link admin-statistics-global.html %}">
      <button type="button" class="btn btn-default active">Global</button>
    </a>
    <a href="{% link admin-statistics-registration.html %}">
      <button type="button" class="btn btn-default">Registration</button>
    </a>
  </div>
  
  <div class="filterAndSearch mb-20 mt-16">
    <button class="btn btn-default btn-sm" type="button">
      <i class="fa fa-filter fa-fw"></i>
      <span class="hidden-xs">Filtrer</span>
    </button>
    <div class="input-group input-group-no-icon-bg">
      <input
        class="form-control"
        placeholder="Search"
        aria-describedby="basic-addon2"
      />
      <span class="input-group-addon" id="basic-addon2"
        ><i class="fa fa-search"></i
      ></span>
    </div>
  </div>