<script  src="./assets/js/jquery.min.js"></script>
<script defer src="./assets/js/bootstrap.min.js"></script>
<script defer src="./assets/js/popper.min.js"></script>
<script src="./assets/js/select2.full.min.js"></script>
<script src='https://d11lu0htm9h2oc.cloudfront.net/js/bootstrap-datepicker.min.js'></script>
<script src='https://d11lu0htm9h2oc.cloudfront.net/js/datepicker-locales/bootstrap-datepicker.fr.min.js'></script>
<script src='https://d11lu0htm9h2oc.cloudfront.net/js/datepicker-locales/bootstrap-datepicker.en-GB.min.js'></script>