
<nav id="accordion" role="tablist" aria-multiselectable="true">
  <div>
    <h4>
      <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse1">
        Admin
      </a>
    </h4>
    <div id="collapse1" class="collapse in">
      <ul class="list-unstyled"> 
        <li  class="{% if page.activeTab == 'dashboard' %}active{% endif %}"><a href="{% link dashboard.html %}">Dashboard</a></li>
        <li  class="{% if page.activeTab == 'admin-companies' %}active{% endif %}"><a href="{% link admin-companies.html %}">Companies</a></li>
        <li  class="{% if page.activeTab == 'admin-statistics' %}active{% endif %}"><a href="{% link statistics/global-fr-comp.html %}">Statistics</a></li>
        <li><a href="{% link dashboard.html %}">Management</a></li>
        <li><a href="{% link dashboard.html %}">Super-Admin</a></li>
      </ul>
    </div>
  </div>
  <div>
    <h4>
      <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse2">
        Planning
      </a>
    </h4>
    <div id="collapse2" class="collapse">
      <ul class="list-unstyled">
        <li><a href="{% link dashboard.html %}">Management</a></li>
        <li><a href="{% link dashboard.html %}">Super-Admin</a></li>
      </ul>
    </div>
  </div>

  <div>
    <h4>
      <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse3">
        Absence
      </a>
    </h4>
    <div id="collapse3" class="collapse">
      <ul class="list-unstyled">
        <li><a href="{% link dashboard.html %}">Management</a></li>
        <li><a href="{% link dashboard.html %}">Super-Admin</a></li>
      </ul>
    </div>
  </div>

  <div>
    <h4>
      <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse4">
        Hour
      </a>
    </h4>
    <div id="collapse4" class="collapse">
      <ul class="list-unstyled">
        <li><a href="{% link dashboard.html %}">Management</a></li>
        <li><a href="{% link dashboard.html %}">Super-Admin</a></li>
      </ul>
    </div>
  </div>

  <div>
    <h4>
      <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse5">
        Presence
      </a>
    </h4>
    <div id="collapse5" class="collapse">
      <ul class="list-unstyled">
        <li><a href="{% link dashboard.html %}">Management</a></li>
        <li><a href="{% link dashboard.html %}">Super-Admin</a></li>
      </ul>
    </div>
  </div>

  <div>
    <h4>
      <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse6">
        Expense
      </a>
    </h4>
    <div id="collapse6" class="collapse">
      <ul class="list-unstyled">
        <li><a href="{% link dashboard.html %}">Management</a></li>
        <li><a href="{% link dashboard.html %}">Super-Admin</a></li>
      </ul>
    </div>
  </div>

  <div>
    <h4>
      <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse7">
        Document
      </a>
    </h4>
    <div id="collapse7" class="collapse">
      <ul class="list-unstyled">
        <li><a href="{% link dashboard.html %}">Management</a></li>
        <li><a href="{% link dashboard.html %}">Super-Admin</a></li>
      </ul>
    </div>
  </div>


  <div>
    <h4>
      <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse8">
        Event
      </a>
    </h4>
    <div id="collapse8" class="collapse">
      <ul class="list-unstyled">
        <li><a href="{% link dashboard.html %}">Management</a></li>
        <li><a href="{% link dashboard.html %}">Super-Admin</a></li>
      </ul>
    </div>
  </div>

  <div>
    <h4>
      <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse9">
        Skills
      </a>
    </h4>
    <div id="collapse9" class="collapse">
      <ul class="list-unstyled">
        <li><a href="{% link dashboard.html %}">Management</a></li>
        <li><a href="{% link dashboard.html %}">Super-Admin</a></li>
      </ul>
    </div>
  </div>

  <div>
    <h4>
      <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse10">
        Human Resource
      </a>
    </h4>
    <div id="collapse10" class="collapse">
      <ul class="list-unstyled">
        <li><a href="{% link dashboard.html %}">Management</a></li>
        <li><a href="{% link dashboard.html %}">Super-Admin</a></li>
      </ul>
    </div>
  </div>

  <div>
    <h4>
      <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse11">
        Settings
      </a>
    </h4>
    <div id="collapse11" class="collapse">
      <ul class="list-unstyled">
        <li><a href="{% link dashboard.html %}">Management</a></li>
        <li><a href="{% link dashboard.html %}">Super-Admin</a></li>
      </ul>
    </div>
  </div>

</nav>
