.block-normal {
    margin-bottom: 11px;
    padding: 12px 16px;
    border: 1px solid $color-gray-light-2;
    box-sizing: border-box;
    border-radius: 4px;
}

.block-normal h4 {
    margin :0
}

.block-normal-heading {
    font-size: 18px;
    font-weight: 500;
}

.block-normal-heading small {
    font-size: 14px;
    font-weight: 500;
}

.block-normal-text {
    color: $color-gray;
    font-size: 14px;
}

.block-normal i {
    color: $color-blue;
    font-size: 16px;
}

.block-normal-main h3 {
    font-size: 24px;
}

.block-normal-main h3 small {
    font-size: 20px;
    font-weight: 400;
}

.block-bordered {
    border: 1px solid $color-gray-light-2;
}

.block-normal-main-padded {
    padding: 32px 20px;
}