
.filterAndSearch {
    display: flex;
}

.filterAndSearch button , .filterAndSearch .input-group {
    height:35px
}

.filterAndSearch button {
    margin-right: 11px;
    font-size: 14px;
    font-weight: 500;
}

.filterAndSearch .input-group {
    flex: 1;
}

.filterAndSearchCheckContainer {
 padding:0 9px;
 border-radius: 3px;
 border: 1px solid $color-gray-light-1;
}

.filterAndSearchCheckContainer input {
    margin-right: 9px;
}

.filterAndSearchCheckContainer label {
    font-size: 14px;
    font-weight: 500;
    color: $color-black;
}