
.custom-form-group-simple .input-daterange .input-group-addon {
    color: $color-gray-light-3;
}

.custom-form-group-simple .input-daterange .input-group-addon i {
    color: $color-gray-dark-1;
}

.input-group-no-icon-bg input {
    border-right: none;
    height: 100%;
    box-shadow: none;
    color: $color-gray;
    font-weight: 500;
}


.input-group-no-icon-bg .input-group-addon {
    background-color: $color-white;
    color: $color-gray;
}

.input-group-no-icon-bg input:focus {
    box-shadow: none;
    border-color: $color-white;
}

.centered-checkbox input {
    //    margin-top: 5px;
       margin: 4px 0 0;
       width: 10px;
       height:10px;
       border: 1px solid #D9D9D9;
       box-sizing: border-box;
       border-radius: 2px;
}
