
.custom-table-simple th {
    font-weight: 500;
    font-size: 14px;
    color: $color-gray;
}

.custom-table-simple .text-danger {
    color:$color-red-dark;
}

.custom-table-simple .text-success {
    color: $color-green-dark;
}

.custom-table-simple td , .custom-table-simple th {
    padding: 13px 8px;
}

.custom-table-simple td , .custom-table-simple th {
    padding: 8px 16px 13px;
}

.custom-table-simple th .fa-sort-alpha-desc , 
.custom-table-simple th .fa-sort-alpha-asc {
    font-size: 12px;
}

.custom-form-group-simple label  {
    font-weight: 500;
    font-size: 14px;
}

.custom-table-simple td {
    font-size: 14px;
}

.custom-table-records  {
   color: $color-gray-dark-2;
   font-size: 14px;
}


.heading-value-table tbody tr td {
    border-top: none;
    font-size: 14px;
    padding: 8px 0;
}

.heading-value-table tbody tr td:first-child {
    font-weight: 500;
}

.heading-value-table tbody tr:last-child td {
    padding: 8px 0 0;
}