$color-white: #fff;
$color-gray: #333;
$color-black: #000;

$color-gray-light-1: #D9D9D9;
$color-gray-light-2: #C4C4C4;
$color-gray-light-3: #EEEEEE;
$color-gray-light-4: #CCCCCC;
$color-gray-light-5: #E5E5E5;

$color-gray-dark-1: #7B7B7B;
$color-gray-dark-2: #777777;
$color-gray-dark-3: #717171;

$color-orange: #F7742B;

$color-green: #5CB85C;
$color-green-medium: #5CB85C;
$color-green-dark: #3D7B3D;

$color-red: #E92828;
$color-red-dark: red;

$color-blue : #337AB7;
$color-blue-dark: #2E6DA4;
$color-blue-light: #49a4f1;

$color-maroon : #DA5555;

$color-purple: #DA55AD;

$color-violet: #9755DA;

$color-yellow: #DAC555;

$color-brown: #DA7D55;

$font-size: 12px;
$font-family:Roboto;