.btn-wrapper {
  margin-bottom: 10px;
}


.input-wrapper {
  max-width: 417px;
  min-width: 100%;
  height: 34px;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  .datetime-input-size {
    width: 48%;
    height: 100%;
    text-align: center;
  }
  .input-icon-wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #D9D9D9;
    background-color: #eeeeee;
    min-width: 25px;

    .icon-right-arrow{
      color:#7B7B7B;
    }
  }
}


.btn-m{
  margin-top:15px;
  .icon-filter-color{
    color: white;
  }
}

#mapid{
  height: 512px;
}

$aqua-color: #05A08E;
$parrot-color:  #65A005;
$darkorange-color: #A06C05;
$purple-color: #5305A0;
$pink-color:#A00559;
$daqua-color:#058ea0;
$pgreen-color:#53a005;
$red-color:#A0052A;
$dblue-color:#0556A0;

.space-between{
  display: flex;
  justify-content: space-between;
  .progressBar-text{
    font-family: Roboto;
    font-weight: 400;
    font-size: 14px;
    line-height: 16.41px;
  }
}

.pg-daqua{
  background-color: $daqua-color;
}

.pg-pgreen{
  background-color: $pgreen-color;
}

.pg-red{
  background-color: $red-color;
}

.pg-blue{
  background-color: $dblue-color;
}

.pg-aqua{
  background-color: $aqua-color;
}

.pg-parrot{
  background-color: $parrot-color;
}

.pg-dark-orange{
  background-color: $darkorange-color;
}

.pg-purple{
  background-color: $purple-color;
}

.pg-pink{
  background-color: $pink-color;
}

.pie-chart-head{
  font-family: Roboto;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 33px;
  letter-spacing: 0em;
  text-align: center;
}

.barchart-text{
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: right;
}