.AdminContactMarginTopDiv {
    margin-top: 29px;
}

.summary-chart-container {
    padding: 12px 10px;
    border-radius: 4px;
    margin-bottom: 29px;
}


.summaryChart {
    height: 150px; 
}

.adminCompanyFormBlock {
    padding: 17px 21px;

    .underlined-heading {
        margin-bottom: 22px;
        font-size: 21px;
    }
}

.spaced-checkboxes label {
    margin-right: 18px;
    font-size: 14px;
}

label.centered-checkbox {
    margin-right: 16px;
    font-size: 14px;
}

.spaced-text-list label {
    margin-bottom: 13px;
}

.spaced-text-list .spaced-text:not(:last-child) {
    margin-bottom: 5px;
}

.spaced-text {
    display: flex;
    font-size: 14px;
    span:nth-child(2) {
        min-width: 152px;
    }

    &  > span:not(:last-child) {
        margin-right: 9px;
    }
}


.expirationDateContainer {
    @media (min-width: 1200px){
        padding-right: 26px;
    }
}


.dateAndMonths {
    display: flex;
    justify-content: space-between;
    
    @media (max-width: 480px){   
        flex-direction: column;
    } 
    
    .input-group {
        flex:1;
        min-width: 142px;
        margin-right: 8px;
        * {
            color: $color-gray-dark-1;
         }
    }

    .btn-group .btn {
        padding: 6px 8px;
        @media (max-width: 480px){   
            margin-top: 20px;
        } 
    }
}

.companyConsultUserActivity {
    display: flex;
    justify-content: space-between;
}


.company-consult-user-legends {
    .badge {
        margin-right: 5px;
    }

    .text-badge:not(:last-child) {
        margin-right: 18px;
    }
}

.company-consult-table  {
    .text-badge .text {
        margin-right: 9px;
    }
}

.company-consult-table {
    th:nth-child(3) ,  td:nth-child(3) {
        width: 240px;
        max-width: fit-content;
    }

    th:nth-child(6) ,  td:nth-child(6) {
        width: 100px;
        max-width: fit-content;
    }
    tr .company-consult-state-column {
        width: 160px;
    }
    tr .company-consult-hours-duration-column {
        width: 125px;
    }
}

.states-toggle-buttons {
    margin: 0 -6px 0 -6px;
}

.detailedWhiteTooltip + .tooltip > .tooltip-inner  {
    background-color: white;
    color: black;
    -moz-box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3);
    min-width: 200px
}

.detailedWhiteTooltip + .tooltip > .tooltip-arrow {
    border-top-color: white;
    
}

.detailedWhiteTooltip + .tooltip.in {
    opacity: 1;
}

.detailedWhiteTooltipContent {
    text-align: left;
    padding-inline-start: 20px;
    
    li {
        margin-top: 5px;
        font-weight: 500;
    }
}

/*Change the size here*/
div.tooltip-inner {
    max-width: 600px;
}

div.tooltip {
    word-wrap: break-word;
}
